ion-img {
    width: 25vw;
    margin: 16px auto;
}

.input-search {
    position: relative;
    margin: 20px 0;
    border: #3f3f3f23 solid 1px;
    border-radius: 8px;
    padding: 5px;
}

.spin {
    width: fit-content;
    margin: 5px auto;
    display: flex;
    gap: 3px;
    align-items: center;
}