ion-accordion {
    ion-label {
        p {
            color: var(--ion-color-medium);
        }
    }

    [slot="content"] {
        color: var(--ion-color-medium);

        p,
        li,
        ol,
        ul,
        small,
        strong {
            color: var(--ion-color-medium);
        }

        ion-icon {
            color: var(--ion-color-medium);
        }
    }
}