<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>{{ 'TAB4.GUIDE' | translate }}</ion-title>
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Introduction -->
  <div class="ion-padding">
    <ion-text color="medium">
      <h2 style="margin: 0; font-weight: 700">
        {{ 'GUIDE.TITLE' | translate }}
      </h2>

      <p style="margin-top: 8px; line-height: 1.5">
        {{ 'GUIDE.INTRO' | translate }}
      </p>
    </ion-text>
  </div>

  <ion-accordion-group>
    <!-- Trouver un bus entre deux arrêts -->
    <ion-accordion value="route">
      <ion-item slot="header">
        <ion-icon name="navigate-outline" slot="start" color="primary">
        </ion-icon>
        <ion-label>
          <h3>{{ 'GUIDE.ROUTE.TITLE' | translate }}</h3>
          <p>{{ 'GUIDE.ROUTE.SUBTITLE' | translate }}</p>
        </ion-label>
      </ion-item>

      <div class="ion-padding" slot="content">
        <p>{{ 'GUIDE.ROUTE.DESCRIPTION' | translate }}</p>

        <ol>
          <li>
            {{ 'GUIDE.ROUTE.STEP_1' | translate }}
            <ion-icon name="bus"></ion-icon>.
          </li>
          <li>
            {{ 'GUIDE.ROUTE.STEP_2' | translate }}
            <strong>{{ 'TAB2.STOP_BEGIN' | translate }}</strong>.
          </li>
          <li>
            {{ 'GUIDE.ROUTE.STEP_3' | translate }}
            <strong>{{ 'TAB2.STOP_END' | translate }}</strong>.
          </li>
          <li>
            {{ 'GUIDE.ROUTE.STEP_4' | translate }}
            <strong>{{ 'TAB2.RUN' | translate }}</strong>.
          </li>
          <li>{{ 'GUIDE.ROUTE.STEP_5' | translate }}</li>
        </ol>

        <p>
          <strong>{{ 'GUIDE.ROUTE.TIP_TITLE' | translate }}</strong>
          {{ 'GUIDE.ROUTE.TIP' | translate }}
        </p>
      </div>
    </ion-accordion>

    <!-- Trouver un bus depuis un lieu -->
    <ion-accordion value="place">
      <ion-item slot="header">
        <ion-icon name="location-outline" slot="start" color="primary">
        </ion-icon>
        <ion-label>
          <h3>{{ 'GUIDE.PLACE.TITLE' | translate }}</h3>
          <p>{{ 'GUIDE.PLACE.SUBTITLE' | translate }}</p>
        </ion-label>
      </ion-item>

      <div class="ion-padding" slot="content">
        <p>{{ 'GUIDE.PLACE.DESCRIPTION' | translate }}</p>

        <ol>
          <li>
            {{ 'GUIDE.ROUTE.STEP_1' | translate }}
            <ion-icon name="bus"></ion-icon>.
          </li>
          <li>
            {{ 'GUIDE.PLACE.STEP_2' | translate }}
            <strong>{{ 'TAB2.TO_SEARCH_BY_PLACE' | translate }}</strong>.
          </li>
          <li>
            {{ 'GUIDE.PLACE.STEP_3' | translate }}
            <strong>{{ 'TAB2.PLACE_BEGIN' | translate }}</strong>.
          </li>
          <li>
            {{ 'GUIDE.PLACE.STEP_4' | translate }}
            <strong>{{ 'MODAL_CHOOSE.MY_POSITION' | translate }}</strong>.
            <br />
            <small> {{ 'GUIDE.PLACE.GPS_WARNING' | translate }} </small>
          </li>
          <li>
            {{ 'GUIDE.PLACE.STEP_5' | translate }}
            <strong>{{ 'TAB2.PLACE_END' | translate }}</strong>.
          </li>
          <li>{{ 'GUIDE.PLACE.STEP_6' | translate }}</li>
          <li>
            {{ 'GUIDE.ROUTE.STEP_4' | translate }}
            <strong>{{ 'TAB2.RUN' | translate }}</strong>.
          </li>
          <li>{{ 'GUIDE.ROUTE.STEP_5' | translate }}</li>
        </ol>

        <p>
          <strong>{{ 'GUIDE.PLACE.TIP_TITLE' | translate }}</strong>
          {{ 'GUIDE.PLACE.TIP' | translate }}
        </p>
      </div>
    </ion-accordion>

    <!-- Rechercher un lieu -->
    <ion-accordion value="stop">
      <ion-item slot="header">
        <ion-icon name="search-outline" slot="start" color="primary">
        </ion-icon>

        <ion-label>
          <h3>{{ 'GUIDE.STOP.TITLE' | translate }}</h3>
          <p>{{ 'GUIDE.STOP.SUBTITLE' | translate }}</p>
        </ion-label>
      </ion-item>

      <div class="ion-padding" slot="content">
        <p>{{ 'GUIDE.STOP.DESCRIPTION' | translate }}</p>

        <ol>
          <li>
            {{ 'GUIDE.STOP.STEP_1' | translate }}
            <ion-icon name="map-outline"></ion-icon>.
          </li>
          <li>
            {{ 'GUIDE.STOP.STEP_2' | translate }}
            <ion-icon name="search"></ion-icon>
          </li>
          <li [innerHTML]="'GUIDE.STOP.STEP_3' | translate"></li>
          <li>
            {{ 'GUIDE.ROUTE.STEP_4' | translate }}
            <strong>{{ 'TAB2.RUN' | translate }}</strong>.
          </li>
          <li [innerHTML]="'GUIDE.STOP.STEP_5' | translate"></li>
        </ol>

        <p>
          <strong>{{ 'GUIDE.STOP.TIP_TITLE' | translate }}</strong>
          {{ 'GUIDE.STOP.TIP' | translate }}
        </p>
      </div>
    </ion-accordion>

    <!-- Astuces générales -->
    <ion-accordion value="tips">
      <ion-item slot="header">
        <ion-icon name="bulb-outline" slot="start" color="primary"> </ion-icon>

        <ion-label>
          <h3>{{ 'GUIDE.TIPS.TITLE' | translate }}</h3>
          <p>{{ 'GUIDE.TIPS.SUBTITLE' | translate }}</p>
        </ion-label>
      </ion-item>

      <div class="ion-padding" slot="content">
        <ul>
          <li [innerHTML]="'GUIDE.TIPS.TIP_1' | translate"></li>

          <li [innerHTML]="'GUIDE.TIPS.TIP_2' | translate"></li>

          <li [innerHTML]="'GUIDE.TIPS.TIP_3' | translate"></li>

          <li [innerHTML]="'GUIDE.TIPS.TIP_4' | translate"></li>
        </ul>

        <p>{{ 'GUIDE.TIPS.CONCLUSION' | translate }}</p>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
