.bus-image {
    margin: 30px auto;
    width: fit-content;
    border-radius: 100%;
    background: #ffbb0063;
}

.name {
  text-align: center;
  opacity: 0.6;
  font-size: small;
}

.arret {
  margin: 10px;
}