.bus-image {
    margin: 30px auto;
    width: fit-content;
    border-radius: 100%;
    background: #ffbb0063;
}

.name {
  text-align: center;
  opacity: 0.6;
  font-size: small;
}

.itineraire {
  text-align: center;
  font-size: small;
  display: flex;
  justify-content: center;
  gap: 10px;

  span {
    border-radius: 50px;
    padding: 0 10px;
  }
  
  .time {
    --green: rgb(0, 255, 0);
    background: rgba(0, 255, 0, 0.05);
    border: var(--green) solid 1px;
    color: var(--green);
  }

  .km {
    --red: rgb(255, 0, 0);
    background: rgba(255, 0, 0, 0.05);
    border: var(--red) solid 1px;
    color: var(--red);
  }
}

.description {
  text-align: left;
  opacity: 0.6;
  font-size: small;
}

.arret {
  margin: 10px;
}