<ion-modal
  trigger="open-modal-{{ bus.id }}"
  [initialBreakpoint]="0.75"
  [breakpoints]="[0, 0.75, 1]"
  #modal
>
  <ng-template>
    <ion-content>
      <div class="bus-image">
        <app-bus-img
          [busColor]="bus.tags.color"
          [firstBand]="bus.tags.band[0]"
          [secondBand]="bus.tags.band[1] || bus.tags.band[0]"
          [busBoard]="bus.tags.board"
          [ref]="bus.tags.ref"
        />
      </div>
      <p class="name">{{ busDetail.tags.name }}</p>
      <ion-card>
        <ion-card-content>
          <ion-card-title>
            {{ "BUS.CARACTERISTIC" | translate }}:
          </ion-card-title>
          <div class="desc">
            {{ 'BUS.COLOR_BUS' | translate }}:
            <ion-badge [color]="ionColorOf(bus.tags.color)">{{
              colorOf(bus.tags.color)
            }}</ion-badge>
          </div>
          <div class="desc">
            {{ 'BUS.BAND_BUS' | translate }}:
            <ion-badge
              *ngFor="let c of bus.tags.band"
              [color]="ionColorOf(c)"
              >{{ colorOf(c) }}</ion-badge
            >
          </div>
          <div class="desc">
            {{ 'BUS.COLOR_BOARD' | translate }}:
            <ion-badge [color]="ionColorOf(bus.tags.board || 'white')">{{
              colorOf(bus.tags.board || "")
            }}</ion-badge>
          </div>
          <div class="desc">
            {{ 'BUS.OPERATOR' | translate }}:
            <ion-badge
              [style.background]="getOperatorColor(bus.tags.operator)"
              >{{ bus.tags.operator }}</ion-badge
            >
          </div>
        </ion-card-content>
      </ion-card>

      <p class="description ion-padding">
        {{ 'MODAL_BUS.GET_BUS_AT' | translate }}
        <ion-text color="primary">{{ bus.members[0].label }}</ion-text>
        {{ 'MODAL_BUS.GET_OUT_AT' | translate }}
        <ion-text color="primary">{{
          bus.members[bus.members.length - 1].label
        }}</ion-text>
      </p>

      <div class="arret">
        <div>{{ 'MODAL_BUS.YOUR_ROUTE' | translate }}:</div>
        <app-stop-list [StopList]="bus.members" />
      </div>

      <ion-fab slot="fixed" vertical="top" horizontal="end">
        <ion-fab-button id="open-maps-modal-detail" size="small">
          <ion-icon name="map"></ion-icon>
        </ion-fab-button>
      </ion-fab>

      <ion-fab slot="fixed" vertical="top" horizontal="start">
        <ion-fab-button color="light" (click)="modal.dismiss()" size="small">
          <ion-icon name="chevron-down-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>

      <app-maps
        triggerElementId="open-maps-modal-detail"
        [stop]="bus.members"
        [routes]="[bus.members]"
        [title]="bus.tags.name"
      />
    </ion-content>
  </ng-template>
</ion-modal>
