<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>Paramètre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="warning">
      <ion-title size="large">Paramètre</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list lines="none">
    <ion-item>
      <h1>Bus Nakay <ion-badge color="light">v1.0</ion-badge></h1>
      <p>
        Application dédiée à la recherche et à l’optimisation des trajets en
        transports publics à Majunga.<br />
        Envie d’améliorer le projet ? Intégrez et exploitez l’API via
        <ion-badge color="light">npm install bus-mj</ion-badge>
      </p>
    </ion-item>
    <ion-item>
      <ion-toggle
        [(ngModel)]="paletteToggle"
        (ionChange)="toggleChange($event)"
        justify="space-between"
        >Theme sombre</ion-toggle
      >
    </ion-item>
    <ion-item
      button
      href="https://www.npmjs.com/package/bus-mj"
      target="_blank"
    >
      <ion-icon slot="start" name="logo-nodejs"></ion-icon>
      <ion-label>
        <h3>API bus-mj <ion-badge color="light">v2.2.4</ion-badge></h3>
        <p>Documentation et installation npm</p>
      </ion-label>
    </ion-item>

    <ion-item
      button
      href="https://github.com/selestinohajaniaina/bus-mahajanga-api"
      target="_blank"
    >
      <ion-icon slot="start" name="code-slash-outline"></ion-icon>
      <ion-label>
        <h3>Code source</h3>
        <p>Projet open source collaboratif</p>
      </ion-label>
    </ion-item>

    <ion-item button href="mailto:selestinoolivier@gmail.com">
      <ion-icon slot="start" name="mail-outline"></ion-icon>
      <ion-label>selestinoolivier&#64;gmail.com</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
