<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>Paramètre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="warning">
      <ion-title size="large">Paramètre</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list lines="none">
    <ion-item>
      <h1>Bus Nakay <ion-badge color="light">v2.0</ion-badge></h1>
      <p>
        Application dédiée à la recherche et à l’optimisation des trajets en
        transports publics à Majunga.
      </p>
    </ion-item>
    <ion-item>
      <ion-icon name="moon-outline" slot="start"></ion-icon>
      <ion-toggle
        [(ngModel)]="paletteToggle"
        (ionChange)="toggleChange($event)"
        justify="space-between"
        >Theme sombre</ion-toggle
      >
    </ion-item>

    <ion-item>
      <ion-icon name="language-outline" slot="start"></ion-icon>
      Langue d'affichage
      <ion-select slot="end" value="fr">
        <ion-select-option value="mg">🇲🇬 Malagasy</ion-select-option>
        <ion-select-option value="fr">🇫🇷 Francais</ion-select-option>
        <ion-select-option value="en">🇬🇧 English</ion-select-option>
        <ion-select-option value="sp">🇪🇸 Spain</ion-select-option>
        <ion-select-option value="gr">🇩🇪 Germany</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-icon name="bookmarks-outline" slot="start"></ion-icon>
      Lieux enregistrés
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-icon name="time-outline" slot="start"></ion-icon>
      Historique des recherches
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>

    <ion-item button href="mailto:selestinoolivier@gmail.com">
      <ion-icon slot="start" name="mail-outline"></ion-icon>
      <ion-label>selestinoolivier&#64;gmail.com</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
