<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>{{ 'HISTORY.TITLE' | translate }}</ion-title>
    <ion-back-button slot="start"></ion-back-button>
    <ion-buttons slot="end">
      <ion-button (click)="clearHistory()">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-text color="medium">
    {{ 'HISTORY.SUB_TITLE' | translate }}
  </ion-text>

  <div class="input-search">
    <ion-input
      type="search"
      [(ngModel)]="querySearch"
      placeholder="{{ 'HISTORY.INPUT_KEY' | translate }}"
      ><ion-icon name="search-outline" slot="start"></ion-icon
    ></ion-input>
  </div>

  <ion-card *ngFor="let h of historyResult; let i = index">
    <ion-card-content class="desc">
      <ion-card-title>{{ h.display_name }}</ion-card-title>
      <ion-text>{{ h.description }}</ion-text>
      <br />
      <ion-text>{{ formatDate(h.saved_at) }}</ion-text>
    </ion-card-content>
  </ion-card>

  @if(historyResult.length == 0 && !isStorageEmpty) {
  <div class="empty">
    <ion-title size="small" color="medium">
      <i>
        {{ 'MODAL_SEARCH.NO_RESULTS' | translate: { querySearch: querySearch } }}
      </i>
    </ion-title>
  </div>
  } @if (isStorageEmpty) {
  <ion-text size="small">
    {{ 'HISTORY.NO_HISTORY' | translate }}
  </ion-text>
  }
</ion-content>
