<ion-content [fullscreen]="true">
  <div class="titre">
    <h1>Déplacement</h1>
    <p>Prenez facilement votre bus avec l'application. Identifiez un arrêt où vous souhaitez commencer votre trajet.</p>
  </div>
  <ion-card class="search">
    <ion-card-header>
      <ion-card-title>Rechercher votre Arret:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">

        <ion-item>
          <ion-label>Depart: </ion-label>
          <ion-select label="" value="c" slot="end" [(ngModel)]="depart">
            <ion-select-option value="c">choisir</ion-select-option>
            <ion-select-option *ngFor="let stop of allStop" [value]="stop.key">{{ stop.value }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Arrive: </ion-label>
          <ion-select label="" value="c" slot="end" [(ngModel)]="fin">
            <ion-select-option value="c">choisir</ion-select-option>
            <ion-select-option *ngFor="let stop of allStop" [value]="stop.key">{{ stop.value }}</ion-select-option>
          </ion-select>
        </ion-item>

      </ion-list>
      <ion-button expand="block" shape="round" (click)="findBus()">
        <ion-text>Rechercher</ion-text>
        <ion-icon aria-hidden="true" name="search-circle-outline" slot="end"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>

  <div class="contener" *ngIf="result && result.length">
    <ion-title>Prenez les bus suivants:</ion-title>
    <ion-card *ngFor="let bus of result" id="open-modal-{{bus.BUS_ID}}">
      <ion-card-content class="desc">
        <ion-card-title>{{ busLabel(bus.BUS_ID).label }}</ion-card-title>
        <ion-text>{{ stopLabel(depart) }} ... {{ stopLabel(fin) }}</ion-text>
        <p> <ion-badge>{{bus.ROAD.length}}</ion-badge>Arrets</p>
      </ion-card-content>
      <app-modal-bus [bus]="bus"/>
    </ion-card>
  </div>

  <div *ngIf="isShowEmpty" class="emptyFilter"> <i>Pas des Bus direct entre "{{ stopLabel(depart) }}" et "{{ stopLabel(fin) }}",  Veuillez choisir un autre arrêt. Collaborez avec nous pour améliorer notre application.</i></div>

</ion-content>
