.titre {
    background: var(--ion-color-warning);
    padding: 10% 5%;
    color: white;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;

    h1 {
        margin: 0;
        font-weight: bold;
    }

    p {
        opacity: 0.7;
        text-align: justify;
    }
}

.search-title {
    margin: -10% 10% 0 10%;
    border-radius: 50px;
}

.search {
    margin: 20px;
}

.contener {
    p {
        display: flex;
        align-items: center;
        gap: 4px;
    }
    ion-title {
        margin: 5% 0;
    }
}

.emptyFilter {
    text-align: center;
    font-size: small;
    opacity: 0.6;
    margin-top: 10px;
}

.input-search {
    position: relative;
    margin: 20px 0;
    border: #3f3f3f23 solid 1px;
    border-radius: 8px;
    padding: 5px;

    .stop-indice {
        position: absolute;
        top: 100%;
        max-height: 40vh;
        overflow: auto;
        z-index: 10;
        width: 100%;

        ion-card-content {
            display: flex;
            align-items: center;
            gap: 2%;
            text-transform: capitalize;
        }
    }
}