.container {
    width: fit-content;
    margin: 1% auto;
    display: flex;
    align-items: center;
}

.content {
    height: 100%;
    background-image: url('../../assets/map-img.png')!important;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
    padding: 0;

    .titre {
        background: var(--ion-color-warning);
        padding: 2%;
        color: white;

        .menu {
            display: flex;
            justify-content: space-between;
            margin: 2% 0 5% 0;
        }

        h1 {
            margin: 0;
            font-weight: bold;
            font-size: 25pt;
        }

        p {
            opacity: 0.7;
            text-align: justify;
        }
    }
}

.profil {
    width: 100vw;
}

.couter {
    padding: 0 2%;
}

.cooperativelist {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    
    ion-card {
        flex: 0 0 40vw; 
        border-radius: 33px;
        width: 40vw;
        aspect-ratio: 1 / 1;

        ion-card-subtitle {
            border-radius: 20px;
            text-align: center;
            background: var(--ion-color-primary);
            padding: 2px;
        }

        .nbr-container {
            display: flex;
            align-items: center;
            width: fit-content;
            height: fit-content;
            margin: 0 auto;

            h1 {
                font-size: 65pt;
                font-weight: bolder;
            }
        }
    }
}

.buslist {
    ion-card {
        border-radius: 20px;
    }
}

#label {
    font-weight: bold;
    padding-left: 10px;
}

ion-modal#example-modal {
    --width: fit-content;
    --min-width: 250px;
    --height: fit-content;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  }
  
  ion-modal#example-modal h1 {
    margin: 20px 20px 10px 20px;
  }
  
  ion-modal#example-modal ion-icon {
    margin-right: 6px;
    width: 48px;
    height: 48px;
    padding: 4px 0;
    color: #aaaaaa;
  }
  
  ion-modal#example-modal .wrapper {
    margin-bottom: 10px;

    ion-item a {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        text-decoration: none;
        color: black;

        ion-label {
            opacity: 0.6;
        }
    }

    ion-item p {
        opacity: 0.6;
        font-size: medium;
        max-width: 70vw;
        text-align: justify;
        margin: 0;
    }
  }

.wave {
    margin: 0 0 -100px 0;
    
    path {
        fill: var(--ion-color-warning);
    }
}