<ion-content [fullscreen]="true">
  <div class="page">
    <div class="titre ion-padding">
      <h1>{{ 'TAB3.TITLE' | translate }}</h1>
      <p>{{ 'TAB3.SUB_TITLE' | translate }}</p>
    </div>

    <div id="maplibreglTab3"></div>

    <div class="action-button">
      <ion-fab>
        <ion-fab-button color="light" size="small" (click)="initMap()">
          <ion-icon name="sync"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="light" size="small" id="open-modal-search">
          <ion-icon name="search"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="light" size="small" (click)="setToMyPosition()">
          <ion-icon name="locate"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>

    <app-modal-search [allStop]="allStop" [myPosition]="myPosition" (osmDataEmit)="showOsmData($event)"/>

  </div>
</ion-content>
