<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>{{ titre }}</ion-title>
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="contener">
  <div class="bus-image">
    <app-bus-img
      [busColor]="bus.tags.color"
      [firstBand]="bus.tags.band[0]"
      [secondBand]="bus.tags.band[1] || bus.tags.band[0]"
      [busBoard]="bus.tags.board"
      [ref]="bus.tags.ref"
    />
  </div>
  <ion-card>
    <ion-card-content>
      <ion-card-title>{{ 'BUS.CARACTERISTIC' | translate }}:</ion-card-title>
      <div class="desc">
        {{ 'BUS.COLOR_BUS' | translate }}:
        <ion-badge [color]="ionColorOf(bus.tags.color)"
          >{{ colorOf(bus.tags.color) }}</ion-badge
        >
      </div>
      <div class="desc">
        {{ 'BUS.BAND_BUS' | translate }}:
        <ion-badge *ngFor="let c of bus.tags.band" [color]="ionColorOf(c)"
          >{{ colorOf(c) }}</ion-badge
        >
      </div>
      <div class="desc">
        {{ 'BUS.COLOR_BOARD' | translate }}:
        <ion-badge [color]="ionColorOf(bus.tags.board || 'white')"
          >{{ colorOf(bus.tags.board || '') }}</ion-badge
        >
      </div>
      <div class="desc">
        {{ 'BUS.OPERATOR' | translate }}:
        <ion-badge [style.background]="getOperatorColor(bus.tags.operator)"
          >{{ bus.tags.operator }}</ion-badge
        >
      </div>
    </ion-card-content>
  </ion-card>
  <div class="arret" *ngIf="stops && stops.length">
    <div class="bus-desc">
      {{ 'BUS.LINE_INFO' | translate:{ count: stops.length, start: stops[0].label, end: stops[stops.length - 1].label } }}
    </div>
    <div>{{ 'BUS.ROUTES_BUS' | translate }}:</div>
    <app-stop-list [StopList]="stops" />
  </div>
  <div class="data_empty">
    <i
      >{{ 'BUS.NO_DATA' | translate }}</i
    >
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button id="open-maps-modal">
      <ion-icon name="map"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <app-maps
    triggerElementId="open-maps-modal"
    [stop]="stops"
    [routes]="[stops]"
  />
</ion-content>
