.bus-image {
  margin: 10px auto;
  width: fit-content;
  border-radius: 100%;
  background: #ffbb0063;
}

.arret {
  margin: 10px;
}

.data_empty {
  opacity: 0.5;
  font-size: 8pt;
  margin: 5px;
  width: fit-content;
}

.bus-desc {
  font-size: small;
  opacity: 0.6;
  margin: 10px 0;
}