<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>{{ titre }}</ion-title>
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="contener">
  <div class="bus-image">
    <app-bus-img [busColor]="bus.tags.color" [firstBand]="bus.tags.band[0]" [secondBand]="bus.tags.band[1] || bus.tags.band[0]" [busBoard]="bus.tags.board"/>
  </div>
  <ion-card>
    <ion-card-content>
      <ion-card-title>Caractéristiques à connaître sur ce bus:</ion-card-title>
      <div class="desc">Couleur du bus: <ion-badge [color]="ionColorOf(bus.tags.color)">{{ colorOf(bus.tags.color) }}</ion-badge></div>
      <div class="desc">Couleur de la bande sur le côté: <ion-badge *ngFor="let c of bus.tags.band" [color]="ionColorOf(c)">{{ colorOf(c) }}</ion-badge></div>
      <div class="desc">Couleur de la plaque: <ion-badge [color]="ionColorOf(bus.tags.board || 'white')">{{ colorOf(bus.tags.board || '') }}</ion-badge></div>
      </ion-card-content>
  </ion-card>
  <div class="arret" *ngIf="stops && stops.length">
    <div class="bus-desc">Il y a {{ stops.length }} arrêts connus sur cette ligne, du point de départ "{{ stops[0].label }}" jusqu'à "{{ stops[stops.length - 1].label }}".</div>
    <div>Trajet du circulation:</div>
    <app-stop-list [StopList]="stops"/>
  </div>
  <div class="data_empty"><i>Les données ne sont pas encore complètes. Collaborez avec nous pour les améliorer.</i></div>
  
</ion-content>
